<launch>

    <arg name="debug" default="false" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix"
       value="gdb -x $(find panda_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

    <node name="plan_cpp" pkg="4_moveit" type="plan_cpp" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
    </node>

</launch>
